
.divider{
  height: 30px;
  color:transparent;
  background-color: transparent;
}


.shadow{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.commentTextarea {
  color: white;
}

.text-enlarge{
  font-size: 18px;
}

.commentAuthor, .commentContent{
  float: left;
  text-align: left;
}

.commentWrapper{
  padding-top: 20px;
}


.input-field{
  margin-top: 20px;
}

.commentsBackgroundContainer{
  padding-bottom: 200px;
}

.commentAuthor a {
  border-bottom: 1px solid;
}

@media screen and (max-width: 783px) {
  .commentAuthor, .commentContent{
    text-align: justify !important;
    float: none !important;
  }
  .commentAuthor{
    font-size: 16px;
  }

  .commentWrapper {
    margin-bottom: 20px !important;
  }

  .commentWrapper {
    margin-bottom: 5px !important;
  }

  .addCommentWrapper{
    margin-top: 20px;
  }

  .avatarPlaceholder{
    margin-bottom: 0;
  }
}
