<footer class="page-footer">
  <div class="container main-footer-info">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">За <b>Photogram</b></h5>
        <p class="grey-text text-lighten-4"><b>Photogram e платформа, предназначена за хора,
          обичащи пътешествията и фотографията,
          които искат да открият красотата
          и магията на нашия свят. Основният фокус на Photogram
          не са само снимките, а тяхното привързване
          с време и пространство в едно цялостно
          приключение, описващо преживяването на потребителя.</b></p>
      </div>
      <div class="col l4 offset-l1 s12">
        <h5 class="white-text">Сподели идеята <i class="copyright-iconsize material-icons small red-text">favorite</i></h5>
        <p class="grey-text text-lighten-4">Photogram е български проект, който се стреми да обедини хората в техните преживявания. Помогнете за развитието на проекта, като споделите идеята ни с вашите близки и приятели.</p>
      </div>
      <div class="col l2 offset-l1 s12">
        <h5 class="white-text">Полезни връзки</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/PhotogramProject" target="_blank"><b>GitHub</b></a></li>
          <li><a class="grey-text text-lighten-3" href="http://exifdata.com" target="_blank"><b>Четец на EXIF данни</b></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{year}} Photogram
      <span class="grey-text text-lighten-4 right">Made with <i class="copyright-iconsize material-icons small red-text">favorite</i></span>
    </div>
  </div>
</footer>
